body {
  background-color: rgb(16, 1, 24);
}
.dropdown {
  display: flex;
  justify-content: center;
}
.menu {
  background: transparent;
  padding: 16px;
  border: 3px solid white;
  border-radius: 6px;
  border-bottom: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition-duration: 1s;
}
.menu:hover {
  background-color: darkslateblue;
  cursor: pointer;
}
.item {
  background-color: white;
  box-shadow: 2px 2px 2px rgba(104, 5, 157, 0.582), -2px 2px 2px rgba(104, 5, 157, 0.582), 0 -2px 4px rgba(104, 5, 157, 0.582);
  width: 200px;
  position: absolute;
  top: 10%;
  border-radius: 2px;
  z-index: 2;
  display: none;
}
.list > .drop-link {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
}
.list > .drop-link:hover {
  background-color: black;
  color: white;
}
.drop {
  display: block;
}
.align-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challenge {
  border: 3px solid white;
  width: 240px;
  border-radius: 4px;
  margin-top: 2%;
}
.ctf-link {
  text-decoration: none;
  color: white;
}
.play:hover {
  background-color: darkslateblue;
}
.play {
  margin-left: 80%;
  background-color: black;
  text-align: center;
  padding: 2px;
  transition-duration: 1s;
  border-left: 3px solid white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ctf {
  position: relative;
}
.cryptography, .steganography, .reverse-engineering, .analysis, .directory-listing, .reconnaissance {
  position: absolute;
  color: white;
  font-weight: bold;
  left: 2%;
  padding: 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width: 780px) {
  .item {
    top: 24%;
  }
  .challenge {
    margin-top: 8%;
  }
}
@media (max-width: 480px) {
  .item {
    top: 9%;
  }
  .challenge {
    margin-top: 8%;
  }
}
