body {
  background-color: rgb(16, 1, 24);
  position: relative;
}
.align-form {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.login-form {
  border: 3px solid white;
  border-radius: 8px;
  padding: 16px;
  margin-top: 6%;
}
h2 {
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form > input {
  background: transparent;
  border: 3px solid white;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  color: white;
  margin-top: 6%;
}
.submit {
  background-color: rgb(2, 14, 56);
  border-radius: 4px;
  color: white;
  width: 100%;
  cursor: pointer;
}
.submit:hover {
  background-color: rgb(2, 45, 130);
}
a {
  margin-left: 38%;
  color: aqua;
}
.error-login, .error-submit {
  text-align: center;
  color: white;
  padding: 6px;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.error-login, .error-submit {
  background-color: rgb(110, 4, 4);
}
@media (max-width: 480px) {
  .align-form {
    margin-top: 30%;
  }
}
