body {
 background-color: rgb(16, 1, 24);
}
.challenge {
  display: flex;
  justify-content: center;
}
.click {
  background: transparent;
  border: 3px solid white;
  padding: 0 8px 0 8px;
  border-radius: 4px;
  transition-duration: 1s;
}
.challenge > .click > .challenge-link {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.click:hover {
  background-color: darkslateblue;
}
.align-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}
.align-form > .setting-list {
  background-color: rgb(4, 24, 89);
  cursor: auto;
}
.change-username, .change-password, .delete-account, .setting-list {
  background:  transparent;
  text-align: center;
  cursor: pointer;
  border: 3px solid white;
  padding: 18px;
  color: white;
  width: 200px;
  transition-duration: 1s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.change-username-form, .change-password-form, .delete-account-form {
  display: block;
  background-color: rgba(92, 6, 167, 0.505);
  width: 200px;
  padding: 20px;
  display: none;
}
.align-form > .form > div:hover {
  background-color: rgba(92, 6, 167, 0.505);
}
form > input {
  display: block;
  padding: 8px;
  border-radius: 2px;
  border: none;
  outline: none;
}
form > input[type="submit"] {
  text-align: center;
  background-color: rgb(13, 54, 187);
  color: white;
  cursor: pointer;
}
.success, .error, .error-submit {
  text-align: center;
  padding: 6px;
  width: 200px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.success {
  background-color: rgb(3, 91, 3);
}
.error, .error-submit {
  background-color: rgb(110, 4, 4);
}
.drop {
  display: block;
}