body {
  background-color: rgb(16, 1, 24);
  position: relative;
  margin: auto 0;
}
.content {
  margin-top: 8%;
}
.header {
  display: flex;
  justify-content: center;
}
.header > .banner {
  color: aqua;
  font-size: 20px;
  font-family: 'Press Start 2P';
}
.nav {
  display: flex;
  justify-content: center;
  margin-right: 3%;
}
.nav > .links > ul > li {
  display: inline;
  list-style-type: none;
}
.nav > .links > ul > li > a {
  color: white;
  text-align: center;
  padding: 6px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.main > .text {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P';
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.game > .row > .play > .click {
  border: 3px solid white;
  padding: 0 8px 0 8px;
  border-radius: 6px;
  margin-right: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.game > .row > .play > .click > a {
  color: white;
  text-decoration: none;
}
.nav > ul > li > a:hover {
  background-color: rgba(2, 53, 87, 0.865);
}
.game > .row > .play > .click:hover {
  background-color: rgba(2, 53, 87, 0.865);
}
.nav > .links > ul > li > a:hover {
  color: rgba(2, 53, 87, 0.865);
}
@media (max-width: 375px) {
  .content {
    margin-top: 40%;
  }
  .header > .banner {
    font-size: 16px;
  }
  .nav > .links {
    margin-right: 26px;
  }
  .main > .text {
    font-size: 13px;
  }
}